*{
    box-sizing: border-box;
    
   
   }
   
   html{
       scroll-behavior: smooth;
   }
   
   
   body {
       font-family:  sans-serif;
       background-color: rgb(50, 48, 48);
       margin: 0;
   }

   h1 { font-size: 3.5em; font-family: aptos;}
   h2 {font-size: 3em;
color: white;
text-align: center;
font-family: aptos;}
p{color: white;
align-items: center;
text-align: center;
font-family: bahnschrift;}

   a{
    text-decoration: none;
    color: white;
   }

   header{
    display: flex;
    height: 70px;
    background-color: rgb(21, 20, 20);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   }


   .logo{
    display: flex;
    align-items: center;
   }

   .logo img{
    height: 70px;
    margin-right: 10px;
    border-radius: 80%;
    
   }

   nav a{
    font-weight: 600;
    padding-right: 10px;
   }

   nav a:hover{
    color: rgb(43, 116, 226);
   }

   #hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("IMAG/portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

